################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Классы и объекты/Задание 1/.vs/Задание 1/v17
/Методы и классы/Задание 2/.vs/Задание 2/v17
/Классы и объекты/Задание 1/.vs/Задание 1
/Классы и объекты/Задание 2/.vs/Задание 2
/Классы и объекты/Задание 3/.vs/Задание 3/v17
/Классы и объекты/Задание 3/.vs/Задание 3
/Классы и объекты/Задание 4/.vs/Задание 4/v17
/Классы и объекты/Задание 4/.vs/Задание 4
/Массивы и индексаторы/Задание 2/.vs/Задание 2/v17
/Массивы и индексаторы/Задание 2/.vs/Задание 2
/Массивы и индексаторы/Задание 3/.vs/Задание 3/v17
/Массивы и индексаторы/Задание 3/.vs/Задание 3
/Массивы и индексаторы/Задание 3/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Массивы и индексаторы/Задание 3/obj/Release/Задание 3.csproj.AssemblyReference.cache
/Массивы и индексаторы/Задание 2/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Массивы и индексаторы/Задание 1/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Классы и объекты/Задание 3/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Классы и объекты/Задание 5/.vs/Задание 5/project-colors.json
