################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Классы и объекты/Задание 1/.vs/Задание 1/v17
